
.baner-info{
    overflow: hidden;
    transition: transform 1s;
}

.baner-img{
    width: 98%;
    overflow: hidden;
    transition: transform 1s;
  
}

.baner-img:hover {
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}




.banner-title{

    position: absolute;
    margin-top: 93px;
    
}



.banner-description{

    position: absolute;
    margin-top: 132px;
}

