.blog-item{
   
    margin-top: 100px;
    border-radius: 5px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
   
}


.blog-item .blog-content .blog-img {
    overflow: hidden;
    cursor: pointer;
    transition: transform 0.2;
}

.blog-item .blog-content .blog-img img{
    
 width: 100%;
}

.blog-item .blog-content .blog-img img:hover{
    
    transition: transform 1s;
    -ms-transform: scale(1.3); /* IE 9 */
    -webkit-transform: scale(1.3); /* Safari 3-8 */
    transform: scale(1.3); 
}

.blog-item .blog-content .blog-title a {
    
    text-decoration: none;
 font-size: 15px;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 justify-content: center;
 display: flex;
 color: black;
 font-weight: 600;
 margin-top: 10px;

}


.blog-item .blog-content .blog-meta p{

    font-size: 15px;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 justify-content: center;
 display: flex;
 color: black;
 font-weight: 600;
}

.blog-item .blog-content .blog-desc{

    font-size: 15px;
 font-family: Arial, Helvetica, sans-serif;
 text-align: center;
 justify-content: center;
 display: flex;
 color: black;
 font-weight: 300;
}



/* .recent-post {
    height: 100%;
    margin-top: 50px;
    width: 100%;
    background-color: #280470;
} */
/* .recent-post h3 {
    margin-left: 20px;
    padding-top: 20px;
    border-bottom: 1px solid #f0e9ff;
    width: 88%;
} */
/* .recent-post .recent-card {
    margin-top: 35px;
} */
/* .recent-post .recent-card .img-name {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;
} */
/* .recent-post .recent-card .img-name .name-blog {
    margin-left: 10px;
} */

.recent-post{
    margin-top: 100px;
}
.recent-post .recent-card .img-name img{
    width: 100%;
    height: 20%;
}


.backgroundBlog img{
    width: 100%;
}

.backgroundBlog h2{
    position: absolute;
    z-index: 2;
    margin-top: -152px;
    margin-left: 600px;
}


.backgroundBlog h6{
    position: absolute;
    z-index: 2;
    margin-top: -96px;
    margin-left: 593px;
    color: #01574a;
}

.backgroundBlog h6 a{
    
    text-decoration: none;
    color: black;
}


.blog-detail-img{
    width: 100%;
}