.category-info{
    margin-top: 500px;

}

.category-title{
    text-align: center;
    margin-top: 20px;
}


.category-count{
margin-top: 5px;
    text-align: center;
}

@media  (max-width: 540px){

    .category-img{
        display: flex;
        justify-content: center;
        
    }

}

@media  (max-width: 575px){

    .category-img{
        display: flex;
        justify-content: center;
        
    }

}