

.brand-br{
    margin-top: 30px;
    background-color:#01574A ;
    width: 250px;
    height: 2px;
    margin-bottom: 40px;
}

.brand-name li{
   list-style: none;
   margin-top: 5px;
}

.brand-name li:hover{
    cursor: pointer;
    color: #01574A;
}
 

.color-br{
    margin-top: 30px;
    background-color:#01574A ;
    width: 250px;
    height: 2px;
    margin-bottom: 40px; 
}

.color-name li{
    list-style: none;
    margin-top: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif

}

.color-name li:hover{
    cursor: pointer;
    color: #01574A;
}


.weight-br{
    margin-top: 30px;
    background-color:#01574A ;
    width: 250px;
    height: 2px;
    margin-bottom: 40px;
}


.weight-name li{
    list-style: none;
    margin-top: 5px;
}

.weight-name li:hover{
    cursor: pointer;
    color: #01574A;
}


.post-widget .title h4 {
    font-size: 17px;
    font-weight: 700;
    text-transform: uppercase;
    margin-top: 10px;
}
.post-widget p {
    font-size: 14.5px;
    line-height: 25px;
    font-weight: 400;
}
.post-widget ul li {
    border-radius: 16px;
}
.post-widget ul li a {
    text-decoration: none;
   
    display: block;
    font-size: 12px;
    border: 1px solid #e5e5e5;
    border-radius: 16px;
    padding: 6px 25px;
    text-transform: uppercase;
    color: #787878;
    font-weight: 600;
    transition: all 0.5s;
}
.post-widget .list {
    gap: 10px;
    margin-top: 20px;
    display: flex;
}
.post-widget .list li:hover {
    background-color: #01574A;
}
.post-widget .list li:hover a {
    color: white;
}
